<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Document</title>
</head>
<body>
    
    <footer>
        <div class="footer-grid">
            <div class="footer-column">
                <h3>Produtos</h3>
                <ul>
                    <li><a href="#">Construtor de Sites</a></li>
                    <li><a href="#">Blogs</a></li>
                    <li><a href="#">Comércio</a></li>
                    <li><a href="#">Domínios</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Clientes</h3>
                <ul>
                    <li><a href="#">Modelos</a></li>
                    <li><a href="#">Clientes em Destaque</a></li>
                    <li><a href="#">Exemplos</a></li>
                    <li><a href="#">Inspiração</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Empresa</h3>
                <ul>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Carreiras</a></li>
                    <li><a href="#">Imprensa</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Suporte</h3>
                <ul>
                    <li><a href="#">Central de Ajuda</a></li>
                    <li><a href="#">Plataforma de Desenvolvedor</a></li>
                    <li><a href="#">Status</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Siga</h3>
                <ul>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">YouTube</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© 2025 Blogify, Inc. Todos os direitos reservados.</p>
            <div class="social-icons">
                <a href="#">Privacidade</a>
                <a href="#">Termos</a>
                <a href="#">Cookies</a>
            </div>
        </div>
    </footer>
</body>
</html>