<div *ngIf="usuario; else loadingOrError">
  <div class="profile-container">
    <div class="profile-header">
      <div class="profile-avatar">
        <img
          *ngIf="usuario.foto"
          [src]="usuario.foto"
          alt="Foto do usuário"
          class="foto-perfil"
        />
        <label class="edit-avatar-btn" title="Alterar Foto">
          <input type="file" hidden (change)="onFileSelected($event)" />
          <i class="fas fa-camera"></i>
        </label>
      </div>

      <div class="profile-info">
        <h2>{{ usuario.nome }}</h2>
        <p>{{ usuario.email }}</p>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingOrError>
  <p>Carregando usuário ou ocorreu um erro ao buscar os dados.</p>
</ng-template>
