$primary-color: #f6f6f6;
$text-color: #333333;
$bg-color: #d0d0d0;

$dark-primary: #222222;
$dark-text: #e0e0e0;
$dark-bg: #121212;

:root {
  --primary-color: #{$primary-color};
  --text-color: #{$text-color};
  --bg-color: #{$bg-color};
}

.dark-mode {
  --primary-color: #{$dark-primary};
  --text-color: #{$dark-text};
  --bg-color: #{$dark-bg};
}